@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 260px);
    padding-right: calc(50% - 260px);
  }

  .header_link {
    display: none;
  }
  .menu {
    width: 100%;
  }
  .menu_mobile_link {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 10px;
    margin-bottom: 24px;
  }

  .sale {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    transform: none !important;
    animation: none !important;
    transition: none !important;
  }
  .top_content {
    min-height: 375px;
    align-items: baseline;
    justify-content: center;
  }
  .top_content_left {
    display: none;
  }
  .top_content_zag {
    margin-top: 148px;
  }
  .checkbox:checked ~ .menu {
    transform: translate(0%);
  }

  .sale_item img {
    width: 100%;
  }

  .sale_big_img {
    width: 100%;
    height: 111px;
    object-fit: cover;
  }
  .add_cart {
    top: 30%;
    left: 33%;
  }

  .featured_items {
    grid-template-columns: repeat(1, 1fr);
  }

  .center_footer {
    background-position: 25%;
  }

  .footer_bottom {
    flex-flow: column-reverse;
  }
  .links_box {
    margin-top: 43px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .all_rights {
    margin-bottom: 9px;
    margin-left: 0;
  }
  //catalog
  .arrivals {
    flex-direction: column;
  }
  .new_arr {
    margin-top: 24px;
    margin-bottom: 32px;
  }
  .breadcrumb {
    margin-bottom: 46px;
  }
  .navbar {
    grid-template-columns: 0px 324px;
  }
  .filter_box_size {
    width: 64px;
    margin: 0;
  }
  .main_s {
    opacity: 0;
  }
  .filter_mobile {
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(img/filter_mobile.svg);
    background-repeat: no-repeat;
  }
  .filter_box .filter_content {
    min-width: 345px;
  }
  .product_items {
    grid-template-columns: repeat(1, 1fr);
  }

  //product
  .slider_img {
    transform: none !important;
    animation: none !important;
    transition: none !important;
  }

  .product_info {
    transform: none !important;
    animation: none !important;
    transition: none !important;
    padding: 25px;
  }

  .product_info_text {
    margin-top: 32px;
  }

  .filter_svg {
    width: 15px;
    margin-left: 10px;
  }

  .filter_box_color {
    width: 103px;
  }

  .filter_box_size {
    width: 64px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .product_info .filter_box_choose-size_content {
    left: 115px;
  }

  .filter_box_price {
    width: 75px;
  }

  .product_info .product_info_line_big {
    width: 175px;
    margin-top: 32px;
    margin-bottom: 50px;
  }

  .product_info .filter_box_color {
    font-size: 10px;
    line-height: 12px;
  }
  .product_info .filter_box_choose-size {
    font-size: 10px;
    line-height: 12px;
  }
  .product_info .filter_box_quantity {
    font-size: 10px;
    line-height: 12px;
  }

  .add_to_cart {
    margin-bottom: 65px;
  }

  .product_items {
    gap: 0;
  }

  //cart
}
@media (max-width: 525px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
}
