@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 260px);
    padding-right: calc(50% - 260px);
  }

  .header_link {
    display: none;
  }
  .menu {
    width: 100%;
  }
  .menu_mobile_link {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 10px;
    margin-bottom: 24px;
  }

  .sale {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    transform: none !important;
    animation: none !important;
    transition: none !important;
  }
  .top_content {
    min-height: 375px;
    align-items: baseline;
    justify-content: center;
  }
  .top_content_left {
    display: none;
  }
  .top_content_zag {
    margin-top: 148px;
  }
  .checkbox:checked ~ .menu {
    transform: translate(0%);
  }

  .sale_item img {
    width: 100%;
  }

  .sale_big_img {
    width: 100%;
    height: 111px;
    object-fit: cover;
  }
  .add_cart {
    top: 30%;
    left: 33%;
  }

  .featured_items {
    grid-template-columns: repeat(1, 1fr);
  }

  .center_footer {
    background-position: 25%;
  }

  .footer_bottom {
    flex-flow: column-reverse;
  }
  .links_box {
    margin-top: 43px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .all_rights {
    margin-bottom: 9px;
    margin-left: 0;
  }

  //catalog

  .arrivals {
    flex-direction: column;
  }

  .new_arr {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .breadcrumb {
    margin-bottom: 46px;
  }

  .navbar {
    grid-template-columns: 0px 324px;
  }

  .filter_box_size {
    width: 64px;
    margin: 0;
  }

  .main_s {
    opacity: 0;
  }

  .filter_mobile {
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(img/filter_mobile.svg);
    background-repeat: no-repeat;
  }

  .filter_box .filter_content[open] {
    min-width: 343px;
  }

  .filter_box_size .filer_box_size_content {
    left: 154px;
  }

  .product_items {
    grid-template-columns: repeat(1, 1fr);
  }

  //product
  .slider_img {
    transform: none !important;
    animation: none !important;
    transition: none !important;
  }

  .product_info {
    transform: none !important;
    animation: none !important;
    transition: none !important;
    padding: 25px;
  }

  .product_info_text {
    margin-top: 32px;
  }

  .filter_svg {
    width: 15px;
    margin-left: 10px;
  }

  .filter_box_color {
    width: 103px;
  }

  .filter_box_size {
    width: 64px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .product_info .filter_box_choose-size_content {
    left: 115px;
  }

  .filter_box_price {
    width: 75px;
  }

  .product_info .product_info_line_big {
    width: 175px;
    margin-top: 32px;
    margin-bottom: 50px;
  }

  .product_info .filter_box_color {
    font-size: 10px;
    line-height: 12px;
  }
  .product_info .filter_box_choose-size {
    font-size: 10px;
    line-height: 12px;
  }
  .product_info .filter_box_quantity {
    font-size: 10px;
    line-height: 12px;
  }

  .add_to_cart {
    margin-bottom: 65px;
  }

  .product_items {
    gap: 0;
  }

  //registration
  .registration {
    justify-content: center;
  }

  .main_form {
    flex-direction: column;
    align-items: center;
  }
  .form_right {
    margin: 0;
  }
  .join_but {
    margin-bottom: 40px;
  }
  .form_right {
    margin-bottom: 100px;
  }

  //cart
  .shopping_cart {
    justify-content: center;
  }
  .cart_content {
    justify-content: center;
    margin-top: 39px;
    margin-bottom: 96px;
  }
  .form_cart {
    justify-content: center;
    grid-template-columns: repeat(1, 360px);
    gap: 10px;
  }
  .cart_button_box {
    gap: 9px;
    margin-bottom: 48px;
  }
  .cart {
    width: 358px;
    height: 188px;
    margin-bottom: 32px;
  }
  .cart img {
    width: 40%;
    height: 100%;
  }
  .cart_text {
    margin-left: 17px;
    margin-top: 17px;
  }
  .cart_text ul {
    margin-top: 26px;
    font-size: 14px;
    line-height: 17px;
  }
  .cart_text li:last-child {
    gap: 15px;
  }
  .mango {
    font-size: 16px;
    line-height: 19px;
    width: 141px;
  }
  .price {
    font-size: 14px;
    line-height: 17px;
  }
  .quantity {
    width: 23px;
    height: 14px;
    font-size: 10px;
    line-height: 12px;
  }
  .cart_close_btn {
    top: 17px;
    right: 12px;
    width: 9px;
    height: 11px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .cart_but {
    width: 175px;
    height: 33px;
    text-transform: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #575757;
  }
}
@media (max-width: 525px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
}
