*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Lato', sans-serif;
}

a {text-decoration: none;
}

img{
	max-width: 100%;
}
.center{
	padding-left: calc(50% - 570px);
	padding-right: calc(50% - 570px);

}

.header{
	min-height: 75px;
	background-color: #222222;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header_left{
	display: flex;
	gap: 41px;
}

.header_right{
	display: flex;
	gap: 33px;
}
.top_content{
	background-color:  #F1E4E6;
	padding-left: calc(50% - 800px);
	padding-right: calc(50% - 800px);
	display: flex;
}
.top_content_left{
	width: 50%;
}
.top_content_right{
	padding-left: 64px;
}

.top_content_zag{
	border-left: 12px solid #F16D7F;
	padding-left: 16px;
	margin-top: 48%;
}
.top_content_title{
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 58px;
	color: #222222;
}
.top_content_heading{
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: #222222;
}
.sale{
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 64px;
}
.sale_item{
	min-height: 260px;
	background-image: url(img/sale1.png);
	background-repeat: no-repeat;
}